<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DDD.AutoAcp.WebApi-20180717075513.mdf;Initial Catalog=aspnet-DDD.AutoAcp.WebApi-20180717075513;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <appSettings>
    <!--测试库--><!--
    <add key="connectionstringTest" value="2kaqx20QOashjVLGUyeeD8FAQ06A6rXw0o1SW870T6p5Fj37Hs4pPb3Tk+hJGpvs/A8P/RlaZ/jL0XUlqAp1dX8HVhl7hhNttJYneM0OE93EczPO9QRNrFBjLkSQM33MNZKZjR5nDsO8r+hinpYW0TB3zGe42hyw" />
    --><!--开发库--><!--
    <add key="connectionstringDev" value="2kaqx20QOauXGUAwX12DMNxZLvk+5EUVN/IwMflnRMz9Qz/sGawISlqFO8LO+ZlaPen5fid+asvMERJ+fQKWS1UUnAr7qwbi6mcSWlRLOuibQbT8qDzTeLTUEwUSKxx2Q0d2FCOq3nqNjd4cISbsxPM9Uj7k4qbH" />
    --><!--生产只读库--><!--
    <add key="connectionstringProdReadOnly" value="SW3Leeu0h0Jp4GXcLtwqrpV+iZwKz0jjp+Ris4jf9Yf+e56vY9mBQK8Ftg1jLK40tBxzxHunYO6i8qeOg///RBaIvp2SAP+ZYJou5DcUa90uxHS6McrzZs/C/DSEAZSVhjs4QaqNqYKoqjiS9Drm7rrBWT6toZsGDk7HD85SKL8oX92EtFSAJAGhvEkQKnKiUdQq1fLUwA1cpoPtgfWs+9pw/v9ztE/vRHaSiipniTFP8wVC4APXvKoQShjju7npEjh3/8uRuJH00r5w0SHnOa+J3Xp3PEfl7w9T/EtonXuPj/nIyMDZvP2+gLWcdpEP2hXNnRmZKzk0mahhGkITtPsPMg+qbaf2YF+D70gR5nbKgXbW50i0kA==" />-->
    <add key="connectionstringTest" value="SW3Leeu0h0Jp4GXcLtwqrpV+iZwKz0jj8fZ/w6J2A1l6Fjbsf6ZY78sDxEBr6N16xtiC2UsZJzEsEcpdeshrP9jflZ9hAu/oIiixIIsUpvG5ed07CoHmpF4qSH75vvCqyebrgTbPgwvAZEItUQ99fwIDB76rNx/5osTclVed/i3H8jpjVVf2SAxDnjsdhuo2s5UEnymlxe+/jGaGL7oMqqoDVixaLqPrSJwwWDRDaPu1hi0cI7/PE9XNcmisRT6m3hrPC3AFZUsCgBB6UHuuoQ==" />
    <!--开发库-->
    <!--<add key="connectionstringDev" value="SW3Leeu0h0Jp4GXcLtwqrpV+iZwKz0jjORwKiW/XxPUHFqE2unQBQpogp1FuxsxKgomE3NVCvp7Qn32h6ZdAwH07zuJji5/5/Nb01bgcZJbf+nttcXH7TUT8WR7nnMc8dytCtszPIIK0/ZACn6g0czpOFZRRGB8GoiYcsdIL/q7W7trrzfn6nh3IpoeRTC+Fnsp4OM1+EXhcrhkXTC0trQI4cUH0ZuhzRAexziLN6Q2cO1hLuHl8+vm1grmA3HvD"/>-->
    <add key="connectionstringDev" value="SW3Leeu0h0Jp4GXcLtwqrpV+iZwKz0jjp+Ris4jf9YeS+NXXjBccGlrYeLH7ZwY6RE06iwFdmPIVnJA2IuCRdnoxD43PwDdOH0lCXp+gsR4kOSjdEf4BeUqWb2t3h449z3tG65C0FZTvSQSXq2N+ZgOXOhVYtQfjjuQ1y/lPo0eGlK51J6UmSW0aPuppQ+F9AU+XAS12VmSg0cOn6aXHcMdYaVUw6GgmTlxs1GaaRF9RQkmt1PAgCAB5S4fYEUhZ" />
    <!--生产只读库-->
    <add key="connectionstringProdReadOnly" value="SW3Leeu0h0Jp4GXcLtwqrpV+iZwKz0jjp+Ris4jf9Yf+e56vY9mBQK8Ftg1jLK40tBxzxHunYO6i8qeOg///RBaIvp2SAP+ZYJou5DcUa90uxHS6McrzZs/C/DSEAZSVhjs4QaqNqYKoqjiS9Drm7rrBWT6toZsGDk7HD85SKL8oX92EtFSAJAGhvEkQKnKiUdQq1fLUwA1cpoPtgfWs+9pw/v9ztE/vRHaSiipniTFP8wVC4APXvKoQShjju7npEjh3/8uRuJH00r5w0SHnOa+J3Xp3PEfl7w9T/EtonXuPj/nIyMDZvP2+gLWcdpEP2hXNnRmZKzk0mahhGkITtPsPMg+qbaf2YF+D70gR5nbKgXbW50i0kA==" />
    <!--数据库 0:生产,1:测试,2:开发,3:备库-->
    <add key="DBType" value="2" />
    <add key="DbCatagory" value="Oracle" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>        
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
    <defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>