<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="EntityFramework.DynamicFilters" version="3.0.1" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
</packages>